body {
  font-family: Jost, sans-serif;
  background-color: #ecf0f1;
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/********************* Shopping Demo-2 **********************/
h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em;
}

.demo {
  padding: 45px 0;
}
.product-grid2 {
  position: relative;
  border: 2px solid #ecf0f1;
  background-color: #fff;
}
.product-grid2 .product-image2 {
  overflow: hidden;
  position: relative;
}
.product-grid2 .product-image2 a {
  display: block;
}
.product-grid2 .product-image2 img {
  width: 100%;
  height: auto;
}
.product-image2 .pic-1 {
  opacity: 1;
  transition: all 0.5s;
}
.product-grid2:hover .product-image2 .pic-1 {
  opacity: 0;
}
.product-image2 .pic-2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.product-grid2:hover .product-image2 .pic-2 {
  opacity: 1;
}

.product-grid2 .add-to-cart {
  color: #fff;
  background-color: #1e272e;
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  display: block;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: all 0.3s;
}
.product-grid2 .add-to-cart:hover {
  background-color: #1e272e;
  text-decoration: none;
}
.product-grid2:hover .add-to-cart {
  bottom: 0;
}
.product-grid2 .product-new-label {
  background-color: #3498db;
  color: #fff;
  font-size: 17px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
}
.product-grid2:hover .product-new-label {
  opacity: 0;
}
.product-grid2 .product-content {
  padding: 20px 10px;
  text-align: center;
}
.product-grid2 .title {
  font-size: 16px;
  margin: 0 0 7px;
}
.product-grid2 .title a {
  color: #303030;
}
.product-grid2 .title a:hover {
  text-decoration: none;
  color: #3498db;
}
.product-grid2 .price {
  color: #303030;
  font-size: 15px;
}
@media screen and (max-width: 990px) {
  .product-grid2 {
    margin-bottom: 30px;
  }
}
